<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="./static/script.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content = "Brenda Yu">
    <meta name = "keywords" content = "Carnegie Mellon University, Information Systems">
    <meta name = "description" content = "Brenda Yu profressional website">
    <title>Brenda Yu</title>
</head>
    <header>
        <h1 id="webname">Brenda Yu</h1>
        <nav>
            <a class="navy" href="../index.html">Home</a>
            <a class="navy" href="cv.html">CV</a>
            <a class="navy" href="fun.html">For Fun</a>
            <a class="navy" href="contact.html">Contact Me</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Carneige Mellon University</td>
                <td>Second year information systems student.</td>
            </tr>
            <tr>
                <td>DeFer Barista</td>
                <td>Took orders, prepared food and drinks, and provided excellent customer service.</td>
            </tr>
            <tr>
                <td>CMU Lifeguard</td>
                <td>Surveyed the pool facility and ensured safety for all patrons.</td>
            </tr>
            <tr>
                <td>Research Assistant</td>
                <td>Conducted research on bird diversity in reforested areas in Costa Rica.</td>
            </tr>
            <tr>
                <td>Designer & Marketing Assistant</td>
                <td>Created merchandise designs, developed engaging social media content, and conducted trend research at the University Stores.</td>
            </tr>
        </table>

        <a href = "../static/BrendaYuResume.pdf" target = "_blank">My Resume (pdf)</a>
    </div>
    <footer>
        &copy; 2025 designed and coded by Brenda Yu
    </footer>
</body>
</html>
