<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content = "Brenda Yu">
    <meta name = "keywords" content = "Carnegie Mellon University, Information Systems">
    <meta name = "description" content = "Brenda Yu profressional website">
    <title>Brenda Yu</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Brenda Yu</h1>
        <nav>
            <a class="navy" href="../index.html">Home</a>
            <a class="navy" href="cv.html">CV</a>
            <a class="navy" href="fun.html">For Fun</a>
            <a class="navy" href="contact.html">Contact Me</a>
        </nav>
    </header>
    <div class="contactMain">
        <div id="item1">
            <h2>Find Me</h2>
            <iframe
                width="600"
                height="450"
                style="border:0"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.448798834388!2d-79.94542482417127!3d40.443202671435444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f21f58679a9f%3A0x88716b461fc4daf4!2sCarnegie%20Mellon%20University!5e0!3m2!1sen!2sus!4v1742497584499!5m2!1sen!2sus">
            </iframe>
        </div>        
        <div id="item2">
            <h2>Contact Me</h2>

            <form>
                <label for="nameInput">Name (required)</label>
                <input id="nameInput" type = "text" required>
                <label for="emailInput">Email (required)</label>
                <input id="emailInput" type = "email" required>
                <br>
                <label for="commentInput">Your comment (required)</label>
                <textarea id="commentInput" required></textarea>

                <input onclick="validate()" type = "submit" value = "SEND">
            </form>
        </div>
        
        <p id="error"></p>

        <table>
            <tr>
                <th>Contact Methods</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Email</td>
                <td>brenday@andrew.cmu.edu</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>626-233-2642</td>
            </tr>
            <tr>
                <td>Linkedin</td>
                <td>www.linkedin.com/in/yubrenda</td>
            </tr>
        </table>
    </div>
    <footer>
        <p id = "copyYear"> designed and coded by Brenda Yu &copy; </p>
    </footer>
</body>
</html>
