<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content = "Brenda Yu">
    <meta name = "keywords" content = "Carnegie Mellon University, Information Systems">
    <meta name = "description" content = "Brenda Yu profressional website">
    <title>Brenda Yu</title>
</head>
    <header>
        <h1 id="webname">Brenda Yu</h1>
        <nav>
            <a class="navy" href="../index.html">Home</a>
            <a class="navy" href="cv.html">CV</a>
            <a class="navy" href="fun.html">For Fun</a>
            <a class="navy" href="contact.html">Contact Me</a>
        </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>

        <form>
            <label>Name</label>
            <input type = "text">
            <label>Email</label>
            <input type = "email">
            <br>
            <label>Your comment</label>
            <textarea></textarea>
            <input type = "submit" value = "SEND">
        </form>

        <table>
            <th>Contact Methods</th>
            <tr>
                <td>Email</td>
                <td>brenday@andrew.cmu.edu</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>626-233-2642</td>
            </tr>
            <tr>
                <td>Linkedin</td>
                <td>www.linkedin.com/in/yubrenda</td>
            </tr>
        </table>
    </div>
    <footer>
        &copy 2025 designed and coded by Brenda Yu
    </footer>
</body>
</html>
