<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content = "Brenda Yu">
    <meta name = "keywords" content = "Carnegie Mellon University, Information Systems">
    <meta name = "description" content = "Brenda Yu profressional website">
    <title>Brenda Yu</title>
</head>
    <header>
        <h1 id="webname">Brenda Yu</h1>
        <nav>
            <a class="navy" href="../index.html">Home</a>
            <a class="navy" href="cv.html">CV</a>
            <a class="navy" href="fun.html">For Fun</a>
            <a class="navy" href="contact.html">Contact Me</a>
        </nav>
    </header>
    <div class="main">
        <h2>Things I Love To Do For Fun</h2>
        <ul>
            <li>Weightlifting and being active</li>
            <li>Watching the sunset</li>
            <li>Eating and hanging out with my friends</li>
            <li>Listening to music and going to concerts</li>
        </ul>
    </div>
    <footer>
        &copy 2025 designed and coded by Brenda Yu
    </footer>
    
</body>
</html>
