* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "width" 100;
    padding: 5px;
    margin: 5px;
}

#webname {
    background-color: #92ad70;
}

a.navy {
    text-decoration: none;
    color: #006400;
    margin-right: 15px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color:#006400;
    color:rgb(206, 246, 194);
    width: fit-content;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

form * {
   display: block;
   margin: auto;
   text-align: center;
}

input[type = "submit"] {
    background-color: #006400;
    color: #f2f2f2;
    border: none;
    border-radius: 25px;
}

#favList {
    display: none;
}

#showButton {
    background-color: #006400;
    color:#f2f2f2;
    padding: 5px;
    border-radius: 5px;
}

#bio {
    display: none;
}

#readMoreLink {
    background-color:#92ad70;
    border: none;
}

#readLessLink {
    background-color:#92ad70;
    border: none;
}

#readMoreLink a {
    color:#f2f2f2;
    text-decoration: none;
}

#readLessLink a {
    color:#f2f2f2;
    text-decoration: none;
}

#error {
    color: red;
}
